<?xml version="1.0"?>
<basic>
  <!-- Location of the L24CM area in site layout.  Prefix and terminate with slash. -->
  <lyniconAreaBaseUrl value="/Areas/Lynicon/"/>
  <lyniconFileManagerRoot value="/Uploads/"/>
  <lyniconCaptcha publicKey="6LfvjM4SAAAAAKSVFJrwdbdjdLHxRn7fv-2KR5IT"
                privateKey="6LfvjM4SAAAAAEY0VothmpnLzTRHbpNjq8lCQpRY"
                verifyUrl="http://www.google.com/recaptcha/api/verify"/>
</basic>
