IFRAME
{
	border: 0;
}
BODY
{
	font-family: Arial, Sans-Serif;
	margin: 0px;
	padding: 0px;
}
.editor-label
{
	background-color: #808080;
	color: #FFFFFF;
	padding: 3px 2px 3px 6px;
	font-size: 12px;
	height: auto;
	/*+border-radius:14px;*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
}
.field-validation-valid {
	display:none;
}
.editor-label.parent
{
	background-repeat: no-repeat;
	padding-left: 21px;
	background-position: 6px 4px;
}
.editor-label.child-closed
{
	background-image: url(/Areas/Lynicon/Content/right-arrow-white.png);
}
.editor-label.child-open
{
	background-image: url(/Areas/Lynicon/Content/down-arrow-white.png);
}
#editPanelContainer {
	position: relative;
	bottom: 0px;
	overflow: scroll;
	width: 100%
}
#editPanel
{
	font-size: 11px;
}
#editPanel INPUT[type="text"]
{
	font-size: 11px;
}
#editPanel .reorder-container
{
	padding: 3px;
	width: 8px;
	/*+border-radius:8px;*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}
#editPanel .reorder-container IMG
{
	cursor: pointer;
}
#edit .action-button, #edit .add-button
{
	font-size: 11px;
	width: 16px;
	text-align: center;
	cursor: pointer;
	background-image: url(/Areas/Lynicon/Content/circle-mask-white.png);
	background-repeat: no-repeat;
	height: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
#edit #save
{
	background-color: #808080;
	background-image: none;
	height: 22px;
	font-size: 18px;
	width: auto;
	clear:both;
}
#edit .func-link
{
	text-decoration: none;
	background-color: #3C3763;
	color: #FFF;
	padding: 2px;
	margin-bottom: 2px;
	display: inline-block;
}
#edit .func-link:hover
{
	background-color: black;
}
#edit .field-process-button {
	background-color: #3C3763;
	color: #FFF;
	padding: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}
#edit .field-process-button:hover {
	background-color: black;
}
#editPanel .editor-field
{
	margin-bottom: 2px;
}
#editPanel .editor-field .editor-label, #editPanel .editor-field .action-button, #editPanel .editor-field .add-button
{
	background-color: #3C3763;
}
#editPanel .editor-field .editor-field .editor-label, #editPanel .editor-field .editor-field .action-button, #editPanel .editor-field .editor-field .add-button
{
	background-color: #3879D9;
}
.collection > .editor-field, .collection > .editor-label, .object > .editor-field, .object > .editor-label
{
	margin-left: 15px;
}
FORM > .object > .editor-field, FORM > .object > .editor-label, .collection > .editor-field > .object > .editor-field, .collection > .editor-field > .object > .editor-label
{
	margin-left: 0px;
}
.editor-label.indent-1, .editor-field.indent-1
{
	margin-left: 17px;
}
.editor-label.indent-2, .editor-field.indent-2
{
	margin-left: 34px;
}
#edit .action-button:hover, #editPanel .add-button:hover
{
	background-color: #000000 !important;
}
#editPanel .closed
{
	display: none;
}
#editPanel .editor-field .text-box
{
	width: 100%;
}
.ui-datepicker
{
	font-size: 60%;
}
#outer
{
	width: 600px;
	height: 300px;
	z-index: 0;
}
#outer .ui-draggable-dragging span {
	font-size: 10px;
}
#listContainer, #treeContainer
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jstreelist-folder-active
{
	border: 1px solid #3030FF;
	background-color: #98c5f1 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
#simplemodal-overlay
{
	background-color: #000;
}
#simplemodal-container
{
	padding: 20px;
	background-color: #E0E0FF;
	border-radius: 8px;
	-moz-border-radius: 10px;
}
#filename
{
	width: 320px;
}
#fileDetails
{
	float: right;
}
.file-image-thumb
{
	max-width: 24px;
	max-height: 24px;
}
#editPanel .l24-link-url
{
	width: 277px;
	display: inline-block;
}
#editPanel .l24-image-url
{
	width: 348px;
	display: inline-block;
}
#editPanel .l24-image-content
{
	display: inline-block;
}
.l24-file-url, .l24-link-url INPUT
{
	width: 130px;
	margin-left: 24px;
}
#editPanel .l24-link-content
{
	width: 156px;
	display: inline-block;
}
.l24-link-content INPUT
{
	width: 95px;
}
#editPanel .l24-image-alt
{
	width: 130px;
	display: inline-block;
}
#editPanel .l24-image-alt .text-box
{
	width: 99px;
}
#editPanel .l24-link-isinternal
{
	width: 68px;
	display: inline-block;
}
.l24-file-url
{
	margin-right: 5px;
	margin-left: 1px;
}

#funcPanel
{
	font-size: 10pt;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #D2D5D7;
	padding: 2px;
}
#funcPanel .func-button {
	display: inline-block;
	background-color: #3C3763;
	color: white;
	padding: 2px;
	border-radius: 3px;
	margin: 1px;
	cursor: pointer;
	float:left;
}
#funcPanel #reveal-button {
	float: right;
	height: 22px;
	width: 20px;
	background-color: #3C3763;
	padding-left: 4px;
	cursor:pointer;
}
#funcPanel #reveal-arrow {
	height: 16px;
	width: 16px;
}

#funcPanel .func-button:hover {
	background-color: black;
}
#funcPanel A.func-button, #funcPanel A.func-button:visited
{
	color: white;
	text-decoration:none;
}

#funcPanel #reveal {
	clear: both;
}

#funcPanel .reveal-panel-view {
	background-color: #E7E7E7;
}

#editPanel .reorder-up IMG
{
	margin-top: 3px;
}
#editPanel .reorder-down IMG
{
	margin-top: 5px;
}
#editPanel .first .reorder-up, #editPanel .last .reorder-down
{
	display: none;
}
/* LIST EDITOR */
table.list-table {
	border-collapse: collapse;
	margin: 5px;
}
.list-table th, .list-table td {
	padding: 5px;
	border-left: 2px solid #D2D5D7;
}
.list-table th:first-child, .list-table td:first-child {
	border-left: none;
}
.list-table tr.selected {
	background-color: #98c5f1
}

.lynicon-number-pager span {
	background-color: #8080D0;
	border-radius: 12px;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
}
.lynicon-number-pager a {
	color: #FFF;
	text-decoration: none;
	font-size: 17px;
	font-family: Arial,sans-serif;
	position: relative;
	top: 2px;
}
.lynicon-number-pager .current a {
	padding-bottom: 5px;
	border-bottom: 4px solid grey;
}
.lynicon-ctl-button {
	display: inline-block;
padding: 2px 4px;
border-radius: 10px;
color: #FFF;
float: left;
margin-right: 5px;
}
.lynicon-filter-textbox input {
	float: left;
}
.lynicon-filter-textbox a {
	background-color: #80a080;
	cursor:pointer;
}
#lynicon-list-add-button {
background-color: #808080;
cursor: pointer;
}
/* ITEM SELECTOR */
#lyn-item-selector {
	overflow-y: scroll;
}

#lyn-item-selector h2 {
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: #888;
	color: #FFF;
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 14px;
}

#lyn-item-selector .new-item {
	display: inline-block;
	background-color: #FFF;
	color: #888;
	padding: 0px 5px;
	height: 18px;
	border-radius: 9px;
}

#lyn-item-selector .new-item-url-patterns {
	display: none;
position: absolute;
background-color: #000;
z-index: 99;
list-style: none;
padding: 2px;
top: -2px;
left: 43px;
}

#lyn-item-selector .new-item-url-patterns li:hover {
	background-color: #fff;
	color: #000;
}

#lyn-item-selector div {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#lyn-item-selector a.item-selected {
	background-color: #c4c4ee
}

.lyn-item-entry .item-link {

}
.lyn-item-entry .edit-link
{
}
#lyn-item-selector .cmd-link {
	background-color: #3C3763;
	color: #fff;
	padding: 1px 3px;
	height: 16px;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
}
#lyn-item-selector .save-url-link {
	margin-top: 5px;
	margin-left: 10px;
}
