@model Lynicon.Test.Models.TestContent
@using Lynicon.Extensibility

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Constraint Ordering</title>
</head>
<body>
    <div>
        @{
            var coc = new ConstraintOrderedCollection<KeyValuePair<string, string>>(kvp => kvp.Key);
            coc.Add(new KeyValuePair<string, string>("a", "A"));
            coc.Add(new KeyValuePair<string, string>("c", "C"), "b");
            coc.Add(new KeyValuePair<string, string>("b", "B"), "a", "1");
            }
        @foreach (var kvp in coc) {
            <div>@kvp.Value</div>
        }
        <hr />
        @{
            coc.Clear();
            coc.Add(new KeyValuePair<string, string>("a", "A"));
            coc.Add(new KeyValuePair<string, string>("b", "B"));
            coc.Add(new KeyValuePair<string, string>("q", "Q"));
        }
        @foreach (var kvp in coc) {
            <div>@kvp.Value</div>
        }
        <hr />
        @{
            coc.Clear();
            coc.Add(new KeyValuePair<string, string>("c", "C"));
            coc.Add(new KeyValuePair<string, string>("a", "A"), ConstraintType.ItemsAfter, "b");
            coc.Add(new KeyValuePair<string, string>("b", "B"), ConstraintType.ItemsAfter, "c");
            coc.Add(new KeyValuePair<string, string>("q", "Q"), "a", "c");
            coc.Add(new KeyValuePair<string, string>("p", "P"), new List<string> { "c" }, new List<string> { "q" });
        }
        @foreach (var kvp in coc) {
            <div>@kvp.Value</div>
        }
        <hr />
        @{
            coc.Clear();
            coc.Add(new KeyValuePair<string, string>("c.1", "C1"));
            coc.Add(new KeyValuePair<string, string>("c.2", "C2"));
            coc.Add(new KeyValuePair<string, string>("c.3.i", "C3i"));
            coc.Add(new KeyValuePair<string, string>("c.3.ii", "C3ii"));
            coc.Add(new KeyValuePair<string, string>("a", "before c"), ConstraintType.ItemsAfter, "c");
            coc.Add(new KeyValuePair<string, string>("b", "after c"), ConstraintType.ItemsBefore, "c");
            coc.Add(new KeyValuePair<string, string>("q", "Q"), "a", "c");
            coc.Add(new KeyValuePair<string, string>("p", "P"), new List<string> { "c.2" }, new List<string> { "q" });
            coc.Add(new KeyValuePair<string, string>("x", "X"), new List<string> { "c.2" }, new List<string> { "c.3.i" });
            coc.Add(new KeyValuePair<string, string>("y", "Y"), new List<string> { "c" }, new List<string> { "a" });
            coc.Add(new KeyValuePair<string, string>("z", "Z"), new List<string> { "c.3.i" }, new List<string> { "c.3.ii" });
        }
        @foreach (var kvp in coc) {
            <div>@kvp.Value</div>
        }
        <hr />
    </div>
</body>
</html>
