@model Lynicon.Workflow.Models.LayerDetailsViewModel
@using Lynicon.Models;
@using Lynicon.Workflow.Models;

<h3>Users in layer</h3>
<div class="user-list">
    @foreach (var user in Model.Users) {
        <div id="user-@user.Id" class="user-info">@user.UserName</div>
    }
</div>
<h3>Changes in layer</h3>
<div class="change-list">
    @foreach (var summ in Model.ChangedItems) {
        <div id="summ-@summ.Id" class="change-info">
            <a href="@summ.Url">@BaseContent.ContentClassDisplayName(summ.Type).ToUpper(): @summ.DisplayTitle()</a>
        </div>
    }
</div>
