@model Lynicon.Workflow.Models.ViewLayersViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Layers</title>
    <script id="jquery" src="/Lynicon/Embedded/Scripts/jquery.js/" type="text/javascript"></script>
    <script type="text/javascript" src="/Lynicon/Embedded/Scripts/jquery-ui.js/"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
        .layer-container {
            background-color: lightblue;
            border-bottom: solid 2px white;
            height: 24px;
            position: relative;
        }
        .layer-container.selected {
            background-color: lightgreen;
        }
        .layer-name {
            width: 250px;
            height: 24px;
            float: left;
        }
    </style>
</head>
<body>
    <div id="layers">
        @foreach (var layer in Model.Layers)
        {
            <div id="layer-@layer.Layer.Level" class="layer-container">
                <div class="layer-name">
                    @layer.Layer.Name: @layer.Layer.Level
                </div>
                <div class="layer-info">
                    @layer.ChangeCount changes
                </div>
            </div>
        }
    </div>
    <div id="layer-details">

    </div>
    <script type="text/javascript">
        $('#layers').on('click', '.layer-container', function () {
            $(this).siblings().removeClass("selected");
            $(this).addClass("selected");
            var level = $(this).prop('id').split('-')[1];
            $('#layer-details').load('/lynicon/workflow/layerdetails', { level: level });
        });
    </script>
</body>
</html>
