@model Lynicon.Workflow.Models.ViewLayersViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Layers</title>
</head>
<body>
    <div>
        @foreach (var layer in Model.Layers)
        {
            <div class="layer-container">
                <div>
                @layer.Layer.Name: @layer.Layer.Level
                </div>
                <div>
                    @layer.ChangeCount changes
                </div>
            </div>
        }
    </div>
</body>
</html>
