
@{
    Layout = "~/Areas/Lynicon/Views/Shared/EditorLayout.cshtml";
    ViewBag.Title = "Item Lister";
}

@section Head {

}

<div class="formWrap">
    <h1>Item Lister</h1>
    @Html.Action("ItemLister", "Items")
</div>
<div id="lister-bottom-spacer"></div>
@Html.DisplayForModel("FuncPanel", new { ShowVersions = false })
