
@{
    Layout = "~/Areas/Lynicon/Views/Shared/EditorLayout.cshtml";
    ViewBag.Title = "Item Lister";
}

@section Head {
    
}

<h1>Item Lister</h1>
@Html.Action("ItemLister", "Items")
<div id="lister-bottom-spacer"></div>
@Html.DisplayForModel("FuncPanel", new { ShowVersions = false })
