
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>
        <form action="rename" method="post">
            <label for="dataType">DataType</label>
            <input id="dataType" type="text" name="dataType" />
            <label for="path">Path</label>
            <input id="path" type="text" name="path" />
            <label for="newPath">New Path</label>
            <input id="newPath" type="text" name="newPath" />
            <button type="submit">Rename Path</button>
        </form>
    </div>
</body>
</html>
