<div id="container">
    @{
        object list = ViewData["list"];
    }
    @Html.EditorFor(m => list, null, ViewData["propertyPath"] as string,
        new { CollectionAdditionalValues = ViewData["CollectionAdditionalValues"] })
</div>
