@{
    Layout = "~/Areas/Lynicon/Views/Shared/EditorLayout.cshtml";
    ViewBag.BaseUrl = (string)Url.Action(ViewBag.OriginalAction, ViewBag.OriginalController, new { area = ViewBag.OriginalArea });
}

<div id='container' style="height: 100%; width: 100%; position:relative;">
    <div id="view-container">
        <iframe id="view" src="@(ViewBag.BaseUrl as string)?$mode=view@(ViewBag.OriginalQuery as string)"></iframe>
    </div>
    <div id="edit">
        <div id="editPanelContainer">
            <div id='editPanel'>
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel("EditorObject")
                    @Html.Hidden("formState")
                }
            </div>
        </div>
        @Html.DisplayForModel("FuncPanel", new { Sections = "Record,Opener" })
        <div style="clear:both; height: 44px;"></div>
    </div>
</div>

